<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= titulo %></title>

    <!-- Link CSS externo -->
    <link
      rel="stylesheet"
      href="/static/styles/stylesfailed.css"
      class="stylesheet"
    />

    <!-- Link JS externo -->
    <!-- <script src="/static/scripts/scripts.js" defer></script> -->
  </head>

  <body>
    <%- include("../partials/menu.ejs"); %>

    <div class="container_rain">
      <span class="cloud"></span>
      <span class="cloud"></span>
      <span class="cloud"></span>
      <span class="cloud"></span>
    </div>

    <section class="container"></section>

    <%- include("../partials/footer"); %>
  </body>
</html>
